/*
*
* Styles.CSS
* Author: JMG
*
*/

/*
*
* @box-sizing: border-box
*
*/

/*
* Palette de colors 
* https://coolors.co/011627-1782ed-d1495b-edae49-fdfffc
*/

/* Color */

.color-w {
  color: RGB(255, 255, 255);
}
.color-b {
  color: RGB(0, 0, 0);
}

.color-1 {
  color: RGB(48, 97, 227);
}

.color-2 {
  color: RGB(246, 200, 131);
}

.color-3 {
  color: RGB(49, 153, 56);
}

.color-4 {
  color: RGB(218, 37, 40);
}

.color-5 {
  color: rgb(255, 211, 0);
}

/* Bacground color*/
.b-color-w {
  background-color: RGB(255, 255, 255);
}
.b-color-b {
  background-color: RGB(0, 0, 0);
}
.b-color-1 {
  background-color: RGB(48, 97, 227);
}

.b-color-2 {
  background-color: RGB(246, 200, 131);
}

.b-color-3 {
  background-color: RGB(49, 153, 56);
}

.b-color-4 {
  background-color: RGB(218, 37, 40);
}

.b-color-5 {
  background-color: rgb(255, 211, 0);
}

/* Gray Color
* https://coolors.co/app/ffffff-afafaf-2e2d33-494850-2c2c34 
*/

.b-color-gray-1 {
  background-color: #afafaf;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
*
* @STYLES PAR DEFAUT
*
*/

h2 {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

a {
  color: white;
}

a:visited {
  color: white;
}

img,
svg {
  width: 100%;
}

button,
select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}

ul {
}

.container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262424;
  color: RGB(255, 255, 255);
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

header {
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  text-align: center;
  z-index: 10000;
  border-bottom: solid 0.2px rgb(255, 255, 255, 0.2);
}
.statusbar {
  height: 80px;
  display: flex;
  align-items: center;
}

.svg {
  width: 100px;
}

.title-blog {
  color: white;
  margin-left: 20px;
  flex: 1;
}

.title-image {
  width: 90px;
}
.status-left {
    width: 90px;
  }

.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.037);
  padding-top: 80px;
  row-gap: 10px;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: green;
}

footer .container {
  background-color: rgb(128, 0, 124);
}

.display-none {
  display: none;
}

.container-code {
  padding: 0 0 10px 0;
}

.container-tool {
  padding: 10px 5px;
}

.list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 20px;
}

.item-container {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(118, 118, 118);
}

.image-container {
  width: 200px;
}

.item-description {
  padding: 5px;
}

.item-title {
  padding: 5px;
}

.item-code-structure {
  padding: 5px;
  background-color: rgb(186, 185, 185);
}

.item-code-structure-copy {
  background-color: rgb(182, 180, 180);
  width: 60px;
  text-align: center;
  height: 25px;
  margin-top: 5px;
  padding: 2px;
  border: 1px solid rgb(53, 53, 53);
}

.commande {
  background-color: rgb(176, 176, 176);
  width: auto;
  padding: 5px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  row-gap: 15px;
}

.container-input {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.input-label {
  width: 115px;
}

.input-input {
  position: relative;
  width: auto;
  height: 25px;
  background-color: rgb(230, 229, 229);
  border: solid 1px black;
}

.commande-copy {
  background-color: rgb(182, 180, 180);
  width: 80px;
  height: 25px;
  align-items: center;
  text-align: center;
  padding: 2px;
  border: 1px solid rgb(53, 53, 53);
  box-shadow: inset -1px -2px #0004, inset 1px 1px #fff5;
  background-color: rgb(8, 166, 50);
  color: #fff;
}

.commande-paste {
  background-color: rgb(182, 180, 180);
  height: 25px;
  width: 80px;
  align-items: center;
  text-align: center;
  padding: 2px;
  border: 1px inset rgb(53, 53, 53);
  box-shadow: inset -1px -2px #0004, inset 1px 1px #fff5;
  background-color: rgb(8, 166, 50);
  color: #fff;
}

.commande-reset {
  width: 80px;
  height: 25px;
  align-items: center;
  text-align: center;
  padding: 2px;
  border: 1px solid rgb(53, 53, 53);
  box-shadow: inset -1px -2px #0004, inset 1px 1px #fff5;
  color: #fff;
}

.copy-click-commande {
  background-color: rgb(5, 83, 26);
  color: white;
}

.disabled{
  opacity: 0.5;
}

.commande-result {
  font-size: 14px;
  background-color: rgb(8, 166, 50);
  padding: 5px;
}

select.cmd-input {
  background-color: #fff;
  width: auto;
  padding: 5px;
  border-radius: 10px;
}

.fill-text {
  font-size: 12px;
}

.p-commande {
  margin-bottom: 5px;
  padding: 5px;
}

.p-commande p {
  line-height: 1.5;
}

.pop-search {
  position: absolute;
  z-index: 1000;
  background-color: white;
  max-height: 200px;
  overflow-y: scroll;
}

.pop-search ul {
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pop-search ul li{
  border-bottom: solid 1px black;
  padding: 4px 0;
}
.pop-search ul li img{
  width: 30px;
}

@media screen and (max-width: 614px) {
  .statusbar {
    height: 50px;
    padding: 10px;
  }
  .title-image {
    width: 50px;
  }
  .status-left {
    width: 50px;
  }
  .container {
    width: 100%;
  }
  .main {
  padding-top: 50px;
}
}
